@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
div.nav-wrapper{
    background-color: #303960;
}

body{
    background-image: url("../img/estrada.jpg");

    background-repeat: no-repeat;
    background-size: cover;
}

.brand-logo{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0 0 0 15px;
}

a#nav.clients{
    margin: 0 50px 0 0;
}
