@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
div.nav-wrapper{
    background-color: #303960;
}

body{
    background-image: url("../img/estrada.jpg");

    background-repeat: no-repeat;
    background-size: cover;
}

.brand-logo{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0 0 0 15px;
}

a#nav.clients{
    margin: 0 50px 0 0;
}

#select-vehicle{
    margin: 20px 0 20px 0;
}

#card-new-entry{
    margin:  40px 0 0 0;
}

#submit-new-entry{
    margin: 0 20px 30px 0;
    background-color: #303960;
}
@media (min-width: 1000px){
    tbody {
        display:block;
        height:125px;
        overflow:auto;
    }
    thead, tbody tr {
        display:table;
        width:100%;
        table-layout:fixed;
    }
    thead {
        width: calc( 100% - 1em );
    }
    table {
        width:100%;
    }
}
    